.btn {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 5px 3px;
    cursor: pointer;
  }
  
  .btn:hover {
    opacity: 0.8;
  }
  .card-img {
    width: 300px;
  }
  .titulo_card{
    color: #ffffff;
    font-size: 20px;
    font-family: Cooper
  }
  .subtitulo_card{
    font-family: Bell MT;
  }
  .edit-button {
    background-color: #19a731; 
    border: 2px solid;
    border-radius: 5px
  }
  .delete-button {
    background-color: #910000; 
    border: 2px solid;
    border-radius: 5px
  }
  .attribute-container {
    display: table ;
    padding: 100 px; 
    margin-bottom: 40px; 
    background-color: #ffffff; 
  }
  .btn-secondary{
    background-color: #660000;
  }
  .btn-primary{
    background-color: #004d0d;
  }